.search-results-false {
  display: none;
}

.search-results-true {
  position: absolute;
  top: 50px;
  z-index: 6;
  background: white;
  width: 100%;
  overflow: scroll;
  border-radius: 3px;
  box-shadow: 0px 0px 23px -16px rgba(0,0,0,0.72);
  border: 1px solid rgb(235, 235, 235);
  transition: height 0.2s ease-in-out;
}